---
# tasks file for tomcat
#
- name: check java jdk
  include_role: 
          name: java8
  when: java_home == ""

- name: add group tomcat
  group: 
       name: tomcat
- name: add tomcat user
  user: 
      name: tomcat
      group: tomcat
      home: /home/tomcat/
      createhome: yes
- name: create tomcat directory
  file:
          path: /opt/tomcat
          state: directory
          mode: 0755
- name: download tomcat
  unarchive:
          src: "{{ tomcat }}"
          dest: /opt/tomcat/
          remote_src: yes
- name: change ownership
  file:
          path: /opt/tomcat/
          state: directory
          mode: 0755
          recurse: yes
          owner: tomcat
          group: tomcat

- name: configure server.xml
  template:
          src: server.xml.j2
          dest: /opt/tomcat/apache-tomcat-9.0.33/conf/server.xml
          #- name: tomcat.service
          #  template:
          #          src: tommcat.service
          #          dest: /etc/systemd/system/tomcat.service
- name: write tomcat.service 
  copy: 
      src: tomcat.service
      dest: /etc/systemd/system/tomcat.service
- name: start and enable tomcat service
  systemd:
          name: tomcat
          state: started
