[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking

User="{{tomcat_user}}"
Group="{{tomcat_group}}"

Environment=JRE_HOME={{java_home_path}}/jre
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true"

Environment="CATALINA_BASE=/opt/tomcat/apache-tomcat-{{tomcat_version}}"
Environment="CATALINA_HOME=/opt/tomcat/apache-tomcat-{{tomcat_version}}"
Environment="CATALINA_PID=/opt/tomcat/apache-tomcat-{{tomcat_version}}/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms{{Xms}} -Xmx{{Xmx}} -server -XX:+UseParallelGC"

ExecStart=/opt/tomcat/apache-tomcat-{{tomcat_version}}/bin/startup.sh
ExecStop=/opt/tomcat/apache-tomcat-{{tomcat_version}}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
